@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
    background-image: url('../img/Principais-eventos-de-Balneario-Camboriu-reveillon-2-948x508.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.countdown-container {
    display: flex;
}

.time {
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    margin: 0 15px;
}

.time h1 {
    margin-bottom: 0;
}

.time small {
    color: #ccc;
}

#myModal {
    display: none;
    position: fixed;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -015%);
    padding: 20px;
    color: #000;
    font-size: x-large;
    background-color: #f1f1f1;
    border: 1px solid #888;
    text-align: center;
}